<%= form_with model: room do |f| %>
  <div class="field mb-2">
    <%= f.label :name, class: "required" %>
    <% if @room.errors.any? %>
      <% @room.errors.full_messages_for(:name).each do |message| %>
        <ul class="m-0 p-0">
          <li class = "error_text text-danger list-unstyled"><%= message %></li>
        </ul>
      <% end %>
    <% end %>
    <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "w-100", style: 'height: 40px;' %>
  </div>
  <div class="field mb-2">
    <%= f.label :content, class: "required" %>
    <% if @room.errors.any? %>
      <% @room.errors.full_messages_for(:content).each do |message| %>
        <ul class="m-0 p-0">
          <li class = "error_text text-danger list-unstyled"><%= message %></li>
        </ul>
      <% end %>
    <% end %>
    <%= f.text_area :content, class: "w-100", style: 'height: 40px;' %>
  </div>
  <div class="field mb-2">
    <%= f.label :price, class: "required" %>
    <% if @room.errors.any? %>
      <% @room.errors.full_messages_for(:price).each do |message| %>
        <ul class="m-0 p-0">
          <li class = "error_text text-danger list-unstyled"><%= message %></li>
        </ul>
      <% end %>
    <% end %>
    <%= f.number_field :price, class: "w-100", style: 'height: 40px;' %>
  </div>
  <div class="field mb-2">
    <%= f.label :address, class: "required" %>
    <% if @room.errors.any? %>
      <% @room.errors.full_messages_for(:address).each do |message| %>
        <ul class="m-0 p-0">
          <li class = "error_text text-danger list-unstyled"><%= message %></li>
        </ul>
      <% end %>
    <% end %>
    <%= f.text_field :address, autocomplete: "street-address", class: "w-100", style: 'height: 40px;' %>
  </div>
  <div class="field mb-2">
    <%= f.label :image %>
    <% if @room.errors.any? %>
      <% @room.errors.full_messages_for(:avatar).each do |message| %>
        <ul class="m-0 p-0">
          <li class = "error_text text-danger list-unstyled"><%= message %></li>
        </ul>
      <% end %>
    <% end %>
    <%= f.file_field :image %>
  </div>
  <div class="actions mb-2">
    <%= f.submit "保存", class:"btn btn-info w-100" %>
  </div>
<% end %>